<div class="nav-md" th:fragment="form-add-user">
	<div class="container body">
		<div class="main_container">
			<div class="right_col" role="main" style="min-height: 792px;">
				<div class="x_panel">
					<div class="x_title">
						<h2 th:if="${user.id == 0}">
							Người dùng mới <small></small>
						</h2>
						<h2 th:if="${user.id != 0}">
							Cập nhật thông tin người dùng <small></small>
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="form-group">
						<div class="col-md-12 offset-md-12">
							<a href="/admin/user" type="button" class="btn btn-primary">Quay
								lại</a>
						</div>
					</div>
					<div class="x_content">

						<form th:if="${user.id == 0}" class="" action="add-user"
							method="post" th:object="${user}">

							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Tên
									người dùng<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" data-validate-length-range="6"
										data-validate-words="2" name="tenNguoiDung"
										placeholder="ex. John f. Kennedy" required="required">
								</div>
							</div>
							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Email<span
									class="required">*</span></label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" name="email" required="required"
										type="email">
								</div>
							</div>

							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Địa
									chỉ<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" type="text" id="address"
										name="diaChi" pattern="(+\s)" title="Not null">
								</div>
							</div>

							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Mật khẩu <small> (mặc định: 123456)</small><span
									class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" value="123456" type="password"
										id="password1" name="matKhau">
									<!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*]).{8,}"
										title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"> -->
								</div>
							</div>
							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Số điện thoại<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" type="text" id="phone-number"
										name="soDienThoai" pattern="(*\d){8,}"
										title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character">
								</div>
							</div>
							<div class="ln_solid">
								<div class="form-group">
									<div class="col-md-6 offset-md-3">
										<button type="submit" class="btn btn-primary">Thêm</button>
										<button type="reset" class="btn btn-success">Làm mới</button>
									</div>
								</div>
							</div>
						</form>

						<form th:if="${user.id != 0}" class="" action="update-user"
							method="post" th:object="${user}">

							<div class="field item form-group">
								<input name="id" th:value="${user.id}" id="id" type="hidden">
								<input name="email" th:value="${user.email}" type="hidden">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Tên
									người dùng<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" data-validate-length-range="6"
										data-validate-words="2" name="tenNguoiDung"
										th:value="${user.tenNguoiDung}"
										placeholder="ex. John f. Kennedy" required="required">
								</div>
							</div>

							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Địa
									chỉ<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" type="text" id="address"
										name="diaChi" th:value="${user.diaChi}" pattern="(+\s)"
										title="Not null">
								</div>
							</div>

							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Mật
									khẩu <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" value="123456" type="password"
										id="password1" name="matKhau" 
										title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character">
								</div>
							</div>
							<div class="field item form-group">
								<label class="col-form-label col-md-3 col-sm-3  label-align">Số
									điện thoại<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6">
									<input class="form-control" type="text" id="phone-number"
										name="soDienThoai" pattern="([0-9]{9}"
										th:value="${user.soDienThoai}"
										title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character">
								</div>
							</div>
							<div class="ln_solid">
								<div class="form-group">
									<div class="col-md-6 offset-md-3">
										<button type="submit" class="btn btn-primary">Cập
											nhật</button>
										<button type="reset" class="btn btn-success">Xóa hết</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>