<div class="footer" th:fragment="footer">
		<div class="footer-content clearfix">
			<div class="container">
				<div class="row">
					<div class="footer-box col-md-4 col-sm-12 col-xs-12">
						<div class="item">
							<h3>
								<span>Giới thiệu</span>
							</h3>
						</div>
						<ul>
							<li>
								<a href="html/GioiThieu.html">
								Về chúng tôi
								</a>
							</li>
							<li>
								<a href="html/GioiThieu.html">
								Tổng quan về công ty
								</a>
							</li>
						</ul>
					</div>
					<div class="footer-box box-address col-md-5 col-sm-12 col-xs-12">
						<div class="item">
							<h3>
								Thông tin công ty
							</h3>
							<div class="box-address-content">
								<b>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THÀNH PHỐ HỒ CHÍ MINH</b>
								<p><i class="fa fa-map-marker"></i> 123 Nguyễn Văn Bảo, Q.Gò Vấp, Tp.HCM</p>
								<p>
									<i class="fa fa-envelope"></i>
									<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=6s">thanhkhoapham03@gmail.com</a>
								</p>
								<p>
									<i class="fa fa-phone"></i>
									Phone: (03) 39 17 78 60
								</p>
							</div>
						</div>
					</div>
					<div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
						<div class="item">
							<h3>
								Facebook
							</h3>
							<div class="social-icon">
								<ul>
									<li><a target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="https://www.facebook.com/thanhgg.F04" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=6s"><i class="fab fa-youtube"></i></a></li>
									<li><a target="_blank"><i class="fab fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>

					</div>					
				</div>
			</div>
		</div>
	</div>
