	<div class="main" th:fragment="info">
        <div class="container">
            <div class="row">
				<div class="col-md-3"></div>
                <div class="col-md-9">
					<div class="breadcrumb clearfix">
						<ul>
							<li class="home">
								<a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
							</li>
							<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></li>
							<li><strong>Giới thiệu</strong> </li>
						</ul>
					</div>
					
					<div class="about-detail">
						<div class="about-block">
							<h1>Giới thiệu về Webshop bán linh kiện máy tính trực tuyến</h1>
							<div class="content">
								<div class="overview">
									<hr>
									<a style="font-weight: bold;">GVHD: TS Nguyễn Thị Hoàng Khánh</a>
									<ul>
										<li><a>Sinh viên thực hiện: </a></li>
										<li><a>• Phạm Thành Khoa - 17019781</a></li>
										<li><a>• Lục Gia Anh - 17013891</a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>                   
				</div>
            </div>
        </div>
    </div>